/* Estilo de mi curriculum */

body
{
	background-color:#85C1E9;
}

.seccion
{
	
	border-style:double;
    background-color:#F7F9F9;
    margin: 30px;
    width: 900px;
    padding: 50px;
    position: absolute;
    left: 135px;
}
em
{
	color:blue;
}
#nombre
{
   height: 50px;
   margin: -20px;
}

#foto1
{
	height: 150px;
	width: 150px;
	float: right;
	margin-top: -70px;
}

#edad
{
	margin-top: 20px; 
}

#direccion
{
   margin-top: -10px;
}

#telefono
{
   margin-top: -10px;
}

#correo
{
	margin-top: -10px;
}

blockquote
{
	margin-top: 30px;
}

h2
{
	padding: 0px;
	margin-top: 40px;
}

h3
{
	padding: 0px;
	margin-top: -30px;
}
hr
{
	margin-top: -15px;
	width: 500px;
    float: left;
}

.seccion2
{
	
	padding: 30px;
	margin: 35px;
}
.seccion3
{
	
	padding: 30px;
	margin: 35px;
}
.parrafos
{
	margin-top: -40px;

}
.parrafos1
{
	margin-top: -30px;
}
img
{
	height: 545px;
   padding: 30px;
   margin-top: -20px;
}



